{% extends "base.html" %}

{% block title %} 
Sunright Cafe | Home
{% endblock %}

{% block content %} 
<div>
    <h1>Menu</h1>

    {% for tag, drinks in all_drinks.items() %}
        <h2>{{tag}}</h2>
        <div class="menu-container">
            {% for drink in drinks %}
            <!-- edit: replaced drink.name with drink.id for data-bs-target variable string -->
            <button class="card menu-sub-div" data-bs-toggle="modal" data-bs-target={{ "#" + drink.id|string + "modal" }}>
                <div class="card-left">
                    <b class="drink-title">{{drink.name}}</b>
                    <br>
                    <span class="desc-full">{{drink.desc}}</span>
                    <span class="desc-small">
                        {{drink.desc[0:70]}}
                        {% if drink.desc|length > 70 %}
                        ...
                        {% endif %}
                    </span>
                    <span class="desc-medium">{{drink.desc[0:20]}}...</span>                                        
                    <div class="menu-price">{{drink.price}}</div>
                </div>
                <img class="card-right" src={{drink.img_url}}>
            </button>

            <!-- Modal per drink -->
            <!-- edit: changed drink.name to drink.id in id, aria-labelledby -->
            <div class="modal fade" id={{ drink.id|string + "modal" }} tabindex="-1" aria-labelledby={{ drink.id|string + "modal"}} aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <img class="modal-img" src={{drink.img_url}} width="100%">

                        <h1 class="modal-title fs-5" id={{drink.name + "modal"}}>{{drink.name}}</h1>
                        {{drink.desc}}
                        <hr>

                        <div class="sugar-lvl-div">
                            <b>Sweetness</b>
                            <br>
                            <span class="req-text">Required*</span>
                            <br>
                            Please select 1
                            <br>
                            <!-- 100% Sugar -->
                            <input type="radio" class="btn-check sugar-radio" name="sugar_options" id={{"sugar100_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"sugar100_" + drink.id|string }}>100%</label>
                            <!-- 75% Sugar -->
                            <input type="radio" class="btn-check sugar-radio" name="sugar_options" id={{"sugar75_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"sugar75_" + drink.id|string }}>75%</label>
                            <!-- 50% Sugar -->
                            <input type="radio" class="btn-check sugar-radio" name="sugar_options" id={{"sugar50_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"sugar50_" + drink.id|string }}>50%</label>
                            <!-- 0% Sugar -->
                            <input type="radio" class="btn-check sugar-radio" name="sugar_options" id={{"sugar0_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"sugar0_" + drink.id|string }}>0%</label>
                        </div>

                        <hr>

                        <div class="ice-lvl-div">
                            <b>Ice Level</b>
                            <br>
                            <span class="req-text">Required*</span>
                            <br>
                            Please select 1
                            <br>
                            <!-- Extra Ice -->
                            <input type="radio" class="btn-check ice-radio" name="ice_options" id={{"ice110_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"ice110_" + drink.id|string }}>Extra Ice</label>
                            <!-- Regular Ice -->
                            <input type="radio" class="btn-check ice-radio" name="ice_options" id={{"ice100_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"ice100_" + drink.id|string }}>Regular Ice</label>
                            <!-- Less Ice -->
                            <input type="radio" class="btn-check ice-radio" name="ice_options" id={{"ice50_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"ice50_" + drink.id|string }}>Less Ice</label>
                            <!-- No Ice -->
                            <input type="radio" class="btn-check ice-radio" name="ice_options" id={{"ice0_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"ice0_" + drink.id|string }}>No Ice</label>
                        </div>

                        <hr>

                        <div class="milk-type-div">
                            {% if tag != "fruit" %}
                            <b>Milk Type</b>
                            <br>
                            <span class="req-text">Required*</span>
                            <br>
                            Please select 1
                            <br>
                            
                            {% for milk_type in milk_types %}
                            <input type="radio" class="btn-check milk-radio" name="milk_options" id={{ milk_type.name + "_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this); addMilkPrice(this);">
                            <label class="btn btn-outline-dark custom-btn" for={{ milk_type.name + "_" + drink.id|string }}>
                                <span class="milk_type_label">{{milk_type.name}} milk</span>
                                {% if milk_type.price != "$0.00" %}
                                    <span class="custom_price_label">+{{milk_type.price}}</span>
                                {% endif %}
                            </label>
                            {% endfor %}
                            <hr>
                        {% endif %}
                        </div>

                        <div class="toppings-div">
                            <b>Toppings</b>
                            <br>
                            Please select up to 3
                            <br>
                                {% for topping in toppings %}
                                <!-- note: some topping.name(s) have a whitespace: grass jelly, etc -->
                                <input type="checkbox" class="btn-check topping-checkbox" name="toppings_options" id={{ topping.name.replace(" ", "_") + "_" + drink.id|string }} autocomplete="off" onchange="chooseToppings(this); addToppingPrices(this);">
                                <label class="btn btn-outline-dark custom-btn" for={{ topping.name.replace(" ", "_") + "_" + drink.id|string }}>
                                    <span class="custom_topping_name">{{topping.name}}</span>
                                    <span class="custom_price_label">+{{topping.price}}</span>
                                </label>
                                {% endfor %}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="update-qty-div">
                            <button type="button" class="btn btn-outline-dark update-qty-btn reduce-qty-btn" disabled onclick="reduceDrinkQty(this)">-</button>
                            <span class="quantity-label">1</span>
                            <button type="button" class="btn btn-outline-dark update-qty-btn increase-qty-btn" onclick="increaseDrinkQty(this)">+</button>
                        </div>
                        <button type="button" class="btn btn-dark add-to-cart-btn" onclick="addToCart(this)">
                            <span class="add-to-cart-text">Add to Cart</span>
                            <span class="custom-price-text">{{drink.price}}</span>

                            <!-- hidden, saved prices for base drink, milk type, and toppings -->
                            <span class="base-price-text hidden">{{drink.price}}</span>
                            <span class="milk-type-price hidden">0.00</span>
                            <span class="total-toppings-price hidden">0.00</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <br>
    {% endfor %}

    <div id="cart-div">
        <h2>Your Order</h2>
        <div class="cart-header">
            <div class="cart-header-col cart-item-quantity">Quantity</div>
            <div class="cart-header-col cart-item-title">Item</div>
            <div class="cart-header-col cart-item-price">Price</div> 
        </div>

        <div id="all-cart-items">
            <!-- add cart items dynamically here -->
        </div>

        <div id="cart-total-div">
            <span id="cart-total-label">TOTAL: </span>
            <span id="cart-total-price-label">$0.00</span>
        </div>
    </div>
        
</div>

{% endblock %}