{% extends "base.html" %}

{% block title %} 
Sunright Cafe | Order Online
{% endblock %}

{% block dropdown %}
<!-- DROPDOWN SUBMENU WITH SEARCH & FILTER -->
<nav id="dropdown-navbar" class="navbar navbar-expand-lg shadow">
    <div id="dropdown-container" class="dropdown container-fluid">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Iced Drinks Menu
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#milk-tea-section">Milk Teas</a></li>
            <li><a class="dropdown-item" href="#fruit-section">Fruit Series</a></li>
            <li><a class="dropdown-item" href="#cheese-foam-section">Cheese Foam Series</a></li>
            <li><a class="dropdown-item" href="#frosty-section">Frosties</a></li>
        </ul>
    </div>
    <!-- SEARCH BAR -->
    <form id="searchbar" method="post" class="d-flex" role="search">
        <input id="user-query" name="user-query" class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-dark" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
    </form>
</nav>
{% endblock %}

{% block content %} 
<!-- save current cart -->
 <script>
    let current_cart = document.getElementById("all-cart-items").innerHTML;
    sessionStorage.setItem("current_cart", current_cart);
 </script>

<div>
    <h2>Menu</h2>

    {% for tag, drinks in all_drinks.items() %}
        <h3 id={{tag|replace(" ","-") + "-section"}}>{{tag}}</h3>
        <div class="menu-container">
            {% for drink in drinks %}
            <button class="card menu-sub-div" data-bs-toggle="modal" data-bs-target={{ "#" + drink.id|string + "modal" }}>
                <div class="card-left">
                    {% if query_flag and drink in matching_drinks %}
                    <b class="drink-title" style="background-color:yellow">{{drink.name}}</b>
                    {% else %}
                    <b class="drink-title">{{drink.name}}</b>
                    {% endif %}
                    <br>
                    <span class="desc-xsmall">{{drink.desc[0:50]}}...</span>
                    <span class="desc-small">
                        {{drink.desc[0:70]}}
                        {% if drink.desc|length > 70 %}
                        ...
                        {% endif %}
                    </span>
                    <span class="desc-medium">{{drink.desc[0:40]}}...</span>     
                    <span class="desc-large">{{drink.desc[0:65]}}...</span>                                   
                    <div class="menu-price">{{drink.price}}</div>
                </div>
                <img class="card-right" src={{drink.thumbnail_url}}>
            </button>

            <!-- Modal per drink -->
            <div class="modal fade" id={{ drink.id|string + "modal" }} tabindex="-1" aria-labelledby={{ drink.id|string + "modal"}} aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <img class="modal-img" src={{drink.img_url}} width="100%">
                        <h1 class="modal-title fs-5" id={{drink.name + "modal"}}>{{drink.name}}</h1>
                        <br>
                        {{drink.desc}}
                        <hr>

                        <div class="sugar-lvl-div">
                            <b>Sweetness</b>
                            <br>
                            <span class="req-text">Required*</span>
                            <br>
                            Please select 1
                            <br>
                            <!-- 100% Sugar -->
                            <input type="radio" class="btn-check sugar-radio" name="sugar_options" id={{"sugar100_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"sugar100_" + drink.id|string }}>100%</label>
                            <!-- 75% Sugar -->
                            <input type="radio" class="btn-check sugar-radio" name="sugar_options" id={{"sugar75_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"sugar75_" + drink.id|string }}>75%</label>
                            <!-- 50% Sugar -->
                            <input type="radio" class="btn-check sugar-radio" name="sugar_options" id={{"sugar50_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"sugar50_" + drink.id|string }}>50%</label>
                            <!-- 0% Sugar -->
                            <input type="radio" class="btn-check sugar-radio" name="sugar_options" id={{"sugar0_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"sugar0_" + drink.id|string }}>0%</label>
                        </div>

                        <hr>

                        <div class="ice-lvl-div">
                            <b>Ice Level</b>
                            <br>
                            <span class="req-text">Required*</span>
                            <br>
                            Please select 1
                            <br>
                            <!-- Extra Ice -->
                            <input type="radio" class="btn-check ice-radio" name="ice_options" id={{"ice110_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"ice110_" + drink.id|string }}>Extra Ice</label>
                            <!-- Regular Ice -->
                            <input type="radio" class="btn-check ice-radio" name="ice_options" id={{"ice100_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"ice100_" + drink.id|string }}>Regular Ice</label>
                            <!-- Less Ice -->
                            <input type="radio" class="btn-check ice-radio" name="ice_options" id={{"ice50_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"ice50_" + drink.id|string }}>Less Ice</label>
                            <!-- No Ice -->
                            <input type="radio" class="btn-check ice-radio" name="ice_options" id={{"ice0_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this)">
                            <label class="btn btn-outline-dark custom-btn" for={{"ice0_" + drink.id|string }}>No Ice</label>
                        </div>

                        <hr>

                        <div class="milk-type-div">
                            {% if tag != "fruit" %}
                            <b>Milk Type</b>
                            <br>
                            <span class="req-text">Required*</span>
                            <br>
                            Please select 1
                            <br>
                            
                            {% for milk_type in milk_types %}
                            <input type="radio" class="btn-check milk-radio" name="milk_options" id={{ milk_type.name + "_" + drink.id|string }} autocomplete="off" onchange="updateTextColor(this); addMilkPrice(this);">
                            <label class="btn btn-outline-dark custom-btn" for={{ milk_type.name + "_" + drink.id|string }}>
                                <span class="milk_type_label">{{milk_type.name}} milk</span>
                                {% if milk_type.price != "$0.00" %}
                                    <span class="custom_price_label">+{{milk_type.price}}</span>
                                {% endif %}
                            </label>
                            {% endfor %}
                            <hr>
                        {% endif %}
                        </div>

                        <div class="toppings-div">
                            <b>Toppings</b>
                            <br>
                            Please select up to 3
                            <br>
                                {% for topping in toppings %}
                                <!-- note: some topping.name(s) have a whitespace: grass jelly, etc -->
                                <input type="checkbox" class="btn-check topping-checkbox" name="toppings_options" id={{ topping.name.replace(" ", "_") + "_" + drink.id|string }} autocomplete="off" onchange="chooseToppings(this); addToppingPrices(this);">
                                <label class="btn btn-outline-dark custom-btn" for={{ topping.name.replace(" ", "_") + "_" + drink.id|string }}>
                                    <span class="custom_topping_name">{{topping.name}}</span>
                                    <span class="custom_price_label">+{{topping.price}}</span>
                                </label>
                                {% endfor %}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="update-qty-div">
                            <button type="button" class="btn btn-outline-dark update-qty-btn reduce-qty-btn" disabled onclick="reduceDrinkQty(this)">-</button>
                            <span class="quantity-label">1</span>
                            <button type="button" class="btn btn-outline-dark update-qty-btn increase-qty-btn" onclick="increaseDrinkQty(this)">+</button>
                        </div>
                        <button type="button" class="btn btn-dark add-to-cart-btn" onclick="addToCart(this)">
                            <span class="add-to-cart-text">Add to Cart</span>
                            <span class="custom-price-text">{{drink.price}}</span>

                            <!-- hidden, saved prices for base drink, milk type, toppings, and tag -->
                            <span class="base-price-text hidden">{{drink.price}}</span>
                            <span class="milk-type-price hidden">0.00</span>
                            <span class="total-toppings-price hidden">0.00</span>
                            <span class="hidden-modal-tag hidden">{{drink.tag}}</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <br>
    {% endfor %}

    <!--
    <div id="cart-div">
        <h3>Your Order</h3>
        <div class="cart-header">
            <div class="cart-header-col cart-item-quantity">Quantity</div>
            <div class="cart-header-col cart-item-title">Item</div>
            <div class="cart-header-col cart-item-price">Price</div> 
        </div>

        <div id="all-cart-items"></div>

        <div id="empty-cart-msg">Add items to start your order.</div>

        <div id="cart-total-div">
            <button class="btn btn-dark" id="cart-total-btn" type="button" onclick="checkoutCart(this)">
                <span id="cart-total-label">Checkout</span>
                <span id="cart-total-price-label">$0.00</span>
            </button>
        </div>
    </div>
    -->
</div>
{% endblock %}